.main-nav {
  position: relative;
  order: 1;

  &--nojs {
    .main-nav__wrapper {
      display: block;
    }
  }

  &--opened {
    .main-nav__wrapper {
      display: block;
    }

    .main-nav__toggle {
      right: 16px;
      background-image: url("../../img/icons/icon-cross.svg");
    }
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;

  width: 23px;
  height: 22px;
  padding: 0;

  border: none;
  background-color: transparent;
  background-image: url("../../img/icons/icon-menu.svg");
  background-size: contain;
  background-repeat: no-repeat;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  position: relative;

  margin: 0;
  padding: 0;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 7px;

    // prettier-ignore
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    mix-blend-mode: normal;
  }

  @media (min-width: $tablet-width) {
    display: flex;

    &::after {
      display: none;
    }
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;

  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: $lightblue;

  font-size: 18px;
  line-height: 40px;
  color: $white;
  list-style: none;

  &:last-child {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  @media (max-width: $mobile-width-only) {
    &:hover,
    &:focus {
      background-color: $mobile-menu-background-hover;
    }

    &:active {
      background-color: $mobile-menu-background-active;
      color: rgba($white, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    flex-basis: 20%;

    box-shadow: none;
    background-color: $white;

    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: $black;

    &:nth-child(2) {
      margin-right: auto;
    }

    &:nth-child(3) {
      margin-left: auto;
    }

    &:hover,
    &:focus {
      color: $lightblue;
    }

    &:active {
      color: rgba($black, 0.3);
    }

    &--active {
      color: $menu-desktop-active;

      &:hover,
      &:focus {
        color: $menu-desktop-active-hover;
      }

      &:active {
        color: rgba($menu-desktop-active, 0.3);
      }
    }
  }
}
