.map {
  width: 100%;
  max-width: 1200px;
}

.map__frame {
  display: block;
  width: 100%;
  border: none;
  margin: auto;

  background-image: url("../img/map-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $background-gray;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
