.page-footer {
  display: grid;
  justify-items: center;
  grid-gap: 36px;
  width: 100%;
  max-width: 960px;
  padding: 28px 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    grid-gap: 0;
    padding: 36px 45px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.page-footer__hashtag {
  margin: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $black;
}
