.social__list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 6px;
  margin: 0;
  padding: 0;
}

.social__item {
  list-style: none;
}

.social__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: $lightblue;
}
