.social {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 6px;
  margin: 0;
  padding: 0;
}

.social__item {
  list-style: none;
}

.social__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: $lightblue;

  &:hover,
  &:focus {
    background-color: $mobile-menu-background-hover;
  }

  &:active {
    .social__logo-image {
      opacity: 0.3;
    }
  }
}
