.page {
  height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  text-transform: uppercase;
  color: $gray;
}

.page__body {
  min-height: 100%;
  margin: 0;

  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
